#modal-content {
  display: block;
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  border: solid purple;
}

input[type=text],
input[type=password] {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.signup-button {
  width: 400px;
  height: 50px;
  margin-left: 50px;
  background-color: purple;
  color: white;

}

.signup-header {
  display: flex;
  justify-content: center;
  color: black;
  font-family: cursive;
}
