.star.off {
  color: #ccc;
  margin-right: 5px;
  transition: color 0.2s;
}

.star.on {
  color: #fdd835;
}



.stars-container {
  display: flex;
  justify-content: center;
}

.stars-container:hover {
  cursor: pointer;
}

.review-submit {
  display: flex;
  justify-content: center;
}

.submit-review-button {
  background-color: #ac5ebc;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.submit-review-button:hover {
  cursor: pointer;
}

.review-header {
  font-family: apple-chancery;
}
