.single-spot-div {
  display: flex;
}

.spot-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 10px;
}

.images-container {
  display: grid;
  grid-template-areas: "a b";
  gap: 5px;
  max-height: 412px;
  max-width: 100%;
  width: 100%;
}

.main-image-container {
  grid-area: a;
  align-items: center;
  max-width: 100%;
  max-height: 450px;
  position: relative;
}

.main-spot-img {
  width: 100%;
  height: 100%;
  max-height: 412px;
  max-width: 100%;
  object-fit: fill;
  border-radius: 5px
}

.preview-images-container {
  display: grid;
  grid-area: b;
  grid-template-areas:
    "a b"
    "c d";
  grid-auto-flow: row;
  gap: 5px;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.preview-image {
  width: 100%;
  height: 100%;
  max-height: 205px;
  position: relative;
  border-radius: 5px;
}


.details-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: apple-chancery;
}

.name-location {
  display: flex;
  font-family: apple-chancery;
  flex-direction: column;
}

.spot-name {
  font-weight: bold;
}

.spot-owner {
  font-family: apple-chancery;
}

.description-reserve-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 80%;
}

.reserve-container {
  display: flex;
  align-items: center;
}

.reserve-button:hover {
  cursor: pointer;
}

.reserve-button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%
}

.reserve-button {
  background-color: #ac5ebc;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.price-review-reserve {
  border: solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-width: 250px;
}

.price-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%
}

.reviews-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 125px;
  justify-content: space-around;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 125px;

}

.description-container {
  width: 60%;
}

.break {
  border-top: 1px solid black;
  height: 20px;
  width: 100%;
}

.single-review {
  margin-bottom: 30px;
}

.post-review-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-review {
  list-style-type: none;
  background-color: #ac5ebc;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.post-review:hover {
  cursor: pointer;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-name {
  font-weight: bold;
}
