.user-spot-div {
  display: flex;
}

.user-spot-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-basis: 20%;
  font-family: apple-chancery;
  width: 270px;
  margin: 15px;
}

.user-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 270px;
}

.user-spot-img {
  max-width: 100%;
  height: 250px;
  border-radius: 20px;
}

.user-spot-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2px;
  height: 80px;
  width: 270px;
}

.user-location-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 35px;
  color: black;
}

.user-location {
  font-weight: bold;

}

.user-price-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 270px;
  height: 25px;
  color: black;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.delete-spot-button {
  list-style: none;
  background-color: #ac5ebc;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.edit-spot-button {
  background-color: #ac5ebc;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.edit-spot-button:hover,
.delete-spot-button:hover {
  cursor: pointer;
}

.user-price-and-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

}
