.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  text-decoration: none;
  background-color: #8A47B6;
  position: sticky;
}

.home {
  display: flex;
  align-items: center;
  color: white;
}

.logo-text {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  font-family: apple-chancery;
  text-decoration: none;
  color: white;
}

.nav-bar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-new-link {
  color: white;
  font-family: apple-chancery;
  padding: 5px;
}

.user-menu-button {
  display: flex;
}


.user-menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  width: 55px;
  height: 30px;
  cursor: pointer;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: solid purple 2px;
  box-shadow: 5px 2px 2px #de6df4;
  border-radius: 10px;
  border: solid 1px #f9f0fb;
  background-color: white;
  list-style-type: none;
  right: 2%;
  top: 35px;
  padding: 5px 15px;
  height: 200px;
  max-width: 150px;
  font-size: 15px;
}


.manage-spots-link {
  text-decoration: none;
}

.manage-spots:hover {
  cursor: pointer;
}


.logout-button {
  background-color: #ac5ebc;
  border-radius: 5px;
}

.logout-button:hover {
  cursor: pointer;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.menu-login-button:hover,
.menu-signup-button:hover {
  cursor: pointer;
}
