.menu {
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  background: none;
}

.menu:hover {
  outline: auto;
}

.profile-pic:hover {
  cursor: pointer;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  position: relative;
  right: 80px;
  top: 5px;
  width: 100px;
  list-style: none;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: white;
}
