.profile-dropdown.hidden {
  display: none;
}

.profile-button {
  position: absolute;
  right: 20px;
  top: 30px;
}

.user-menu {
  position: absolute;
  right: 45px;
  top: 30px;
}

.user-menu.hidden {
  display: none;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  border: solid purple 2px;
  box-shadow: 5px 2px 2px magenta;
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 5px;
  right: 20px;
  list-style-type: none;
  background-color: white;
}
