input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.demo-login {
  background-color: purple;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.login-button {
  background-color: purple;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.login-header {
  display: flex;
  justify-content: center;
  color: black;
  font-family: apple-chancery;
}

label {
  font-family: apple-chancery;
}
